@import "./reset.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway&display=swap");

/* VARIABLES */
:root {
	--primary: #08c4fd;
	--text: #000000;
}

/* HTML ELEMENTS */
html {
	height: -webkit-fill-available;
}

body {
	color: var(--text);
	background-color: var(--primary);
	height: 100vh;
	height: -webkit-fill-available;
	// overflow: hidden;
}

#__next {
	height: 100%;
}

/* HEADERS */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	color: var(--text);
}

h1,
h2 {
	font-family: LATO;
	font-weight: 700;
}

h3,
h4,
h5,
h6 {
	font-family: LATO;
	font-weight: 400;
}

a {
	font-family: Raleway;
}

/* TYPOGRAPHY */

h1 {
	font-size: 2rem;
	font-weight: 600;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: 0.875rem;
}

h6 {
	font-size: 0.75rem;
}

/* LINKS */
a {
	&:hover {
		cursor: pointer;
	}
}

.main-nav {
	padding-top: 25%;

	a {
		padding: 0.5rem;
		width: 50%;
	}
}
